<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>

        <div>
            <!-- Create container form -->
            <form action="{% url 'homepage' %}" method="post">
                {% csrf_token %}
                <label><b>Create Container:</b></label><br>
                <input type="text" name="container_name" placeholder="Container Name...">
                <button type="submit" name="create_container">Create</button>
            </form>
        </div>
        
        <br>

        <div>
            <!-- Upload to container form -->
            <form action="{% url 'homepage' %}" method="post" enctype="multipart/form-data"> <!-- enctpye required in file uploads -->
                {% csrf_token %}
                <label><b>Upload File to Container:</b></label><br>
                <input type="file" name="blob_file"><br>
                <input type="text" name="container_name" placeholder="Container Name...">
                <button type="submit" name="upload_blob">Upload</button>
            </form>
        </div>

        <br>

        <div>
            <!-- List blobs in container -->
            <form action="{% url 'homepage' %}" method="post">
                {% csrf_token %}
                <label><b>List Blobs in Container:</b></label><br>
                <input type="text" name="container_name" placeholder="Container Name...">
                <button type="submit" name="list_blobs">OK</button>
            </form>
        </div>

        <br>

        <!-- Check for result messages and print -->
        {% if messages %}
            {% for m in messages %}{{ m }}<br>{% endfor %}
        {% endif %}

        <!-- Lists blobs on request -->
        {% if blob_list %}
            {% for blob in blob_list %}
                <a href="{% url 'blob_info' container.name blob.name%}">{{blob.name}}</a><br>
            {% endfor %}
        {% endif %}

    </body>
</html>